# Importing Libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'c:\users\vinor\01-2020 Instacart Basket Analysis'

In [5]:
df_prods = pd.read_csv(os.path.join(path,'02 Data','Original Data','products.csv'),index_col = False)

In [6]:
df_ords = pd.read_csv(os.path.join(path,'02 Data','Original Data','orders.csv'),index_col = False)

In [7]:
# Import the data set into Jupyter as a new dataframe: df_ords_prior.
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','orders_products_prior.csv'),index_col = False)

In [8]:
# Check the dimensions of the imported dataframe.
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
# Merge the dataframe with your df_ords dataframe.
df_ords_merged = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [12]:
# Use the indicator argument to check whether there was a full match between the two dataframes.
df_ords_merged['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

#### Full match exist

In [13]:
df_ords_merged.shape

(32434489, 11)

In [14]:
df_ords_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

# 2.Export the merged file in pickle format as “orders_products_combined.pkl”.

In [16]:
df_ords_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))