#  importing libraries

In [26]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [27]:
path = r'c:\users\vinor\01-2020 Instacart Basket Analysis'

In [28]:
df_prods = pd.read_csv(os.path.join(path,'02 Data','prepared Data','products_checked.csv'),index_col = False)

In [29]:
df_prods.shape

(49693, 6)

In [30]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [31]:
## import the orders_products_combined dataframe from the pickle file 
df_orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data','prepared Data','orders_products_combined.pkl'))

In [32]:
## Check the shape of the imported dataframe
df_orders_products_combined.shape

(32434489, 11)

In [33]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [34]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [35]:
##Determine a suitable way to combine the orders_products_combined dataframe with your products data set.
ords_prods_merge = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [36]:
ords_prods_merge.shape

(32434212, 16)

# Confirm the results of the merge using the merge flag.

In [37]:
ords_prods_merge['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [38]:
##### looks like for some orders products data are missing

# Export the newly created dataframe as ords_prods_merge

In [39]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))